{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "arrow-parens": "off",
    "comma-dangle": "off",
    "semi": "off",
    "require-jsdoc": "off",
    "no-tabs": "off",
    "indent": "off",
    "no-trailing-spaces": "off",
    "operator-linebreak": "off",
    "guard-for-in": "off",
  },
  "extends": ["eslint:recommended", "google"]
}